.plugin-color-picker-pick-button {
  position: absolute;
  left: 16px;
  top: 38px;
}

.plugin-color-picker-pick-button > div {
  height: 16px;
  width: 16px;
  border: 1px solid #8ea1b8;
}

.plugin-color-picker-picker {
  position: absolute;
  z-index: 100;
  display: none;
}

.plugin-color-picker-pick-button--opened + .plugin-color-picker-picker {
  display: block;
}

.plugin-color-picker-input {
  padding-left: 40px;
}

.plugin-color-picker-clean-ctd-warning,
.plugin-color-picker-clean-ctd-warning__heading {
  display: flex;
  flex-direction: column;
}

.plugin-color-picker-clean-ctd-warning__heading {
  color: #eb5757;
  border-bottom: 1px solid #eb5757;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.plugin-color-picker-clean-ctd-warning__content {
  white-space: pre-line;
}
